
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/

/CMakeFiles/3.12.18081601-MSVC_2/*
/CMakeFiles/*

/CMakeCache.txt
/scripts/__pycache__/*
!/console.runner/bin/
!/console.runner/bin/ConsoleRunner.pdb
!/console.runner/bin/ConsoleRunner.exe
Wololo2*
.idea/
venv/

/scores/*
